@model List<Booking>

<h2>My Bookings</h2>

<table class="table">
    <tr>
        <th>Date</th>
        <th>People</th>
        <th>Destination ID</th>
    </tr>

    @foreach (var b in Model)
    {
        <tr>
            <td>@b.BookingDate</td>
            <td>@b.NumberOfPeople</td>
            <td>@b.DestinationId</td>
        </tr>
    }
</table>